<link href="/public/css/style.css" rel="stylesheet" type="text/css">

<!-- WELCOME -->
<div id="welcome">
    <div style="font-size: 60px;">Welcome  <%=username %> </div>
    <div style="font-size: 25px;">to</div>
    <div style="font-size: 30px;">POLL BOOTH</div>
    <div style="font-size: 25px;">create teams and polls.</div>
</div>

<!-- NAVIGATION BAR-->
<div class="navbar">
    <div id="home">HOME</div>
    <div id="formTeam">+TEAM</div>
    <div id="invite">INVITE</div>
    <div id="poll">CREATE POLL</div>
    <div id="vote"><a href="/polls">CAST VOTE</a></div>
    <div id="logout"><a href="/">LOG OUT</a></div>
</div>
<!-- CREATETEAM  -->
<div id="createTeam">
    <form id="cteam" method="POST" action="/make">
        <div class="title">CREATE</div>
        <input class="info" type="text" name="teamname" placeholder="Team Name"><br>
        <input type="submit" value="CREATE" class="button">
    </form>        
</div>
<!-- INVITE  -->
<div id="inviteForm">
    <form id="invite" method="POST" action="/inviteusers">
        <div class="title">INVITE USERS</div>
        <input class="info" type="text" name="teamname" placeholder="Team Name"><br>
        <input class="info" type="text" name="username" placeholder="Username"><br>
        <input class="info" type="text" name="msg" placeholder="Message (Optional)"><br>
        <input type="submit" value="INVITE" class="button">
    </form>
</div>

<!-- CREATE POLL -->
<div id="createPoll">
    <form id="pollQue" method="POST" action="/makepoll">
        <div class="title">POLL</div>
        <input class="info" type="text" name="polltitle" placeholder="Title..."><br>
        <input class="info" type="text" name="question" placeholder="Question..."><br>
        <input class="info" type="text" name="answers" placeholder="COMMA seprated options..."><br>
        <input type="submit" value="POST" class="button">
    </form>
</div>
<script src="/public/javascript/script.js"></script>
